block content
    h1 Add New Book
    form(action="/books" method="POST")
        label(for="title") Title:
        input(type="text", id="title", name="title", required)
        br

        label(for="authorname") Authorname:
        input(type="text", id="authorname", name="authorname", required)
        br

        label(for="author_id") Author_id:
        input(type="text", id="author_id", name="author_id", required)
        br

        label(for="genre") Genre:
        input(type="text", id="genre", name="genre", required)
        br

        label(for="description") Description:
        textarea(id="description", name="description", rows="4", required)
        br

        label(for="ratings") Ratings:
        input(type="number", id="ratings", name="ratings", min="0", max="5", step="0.1", required)
        br



        button(type="submit") Add Book