html
    head
        title Signup
    body
        if(message)
            h4 #{message}
            p
                click #[a(href="/") here] to goto home page!

            p
                a(href="/logout") to log out.