html
    head
        title Signup
    body
        if message
            h4 #{message}
        form(action="/login" method="POST")
            p email:
                input(name="email" type="email" required )
            p password:
                input(name="password" type="password" required)
            button(type="submit") Login
            p click  #[a(href="/") here] to go back!